* {
    margin: 0;
    padding: 0;
}

.imagen-logo {
    width: 80px;
    border-radius: 45%;
    margin-right: 10px;
}
/* header {
    padding-left: 10px;
    text-decoration: none;
    background-color:blanchedalmond;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 0;
} */
body {
    font-family: 'Roboto', sans-serif;
    background-color: blueviolet;
}

/* NUEVO*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .col-md-4 {
    flex: 1;
    margin: 10px;
}

/*Termina nuevo*/

/* .boxItem {
    border: solid 1px black;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 25px;
    width: 320px;
    height: 500px;
    background-color: grey;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: -1;
} */

.boxItem {
    margin: 10px 10px;
    gap: 20px;
}

.boxItem img {
    width: 300px;
    border-radius: 1%;
    margin: 15px 15px 15px 15px;

}

.boxItem ul {
    font-size: 18px;
    text-align: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.boxItem p {
    position: absolute;
    top: 90px;
    right: 10px;
    font-size: 20px;
    color: blue;
    background-color: bisque;
}

h4 {
    margin: 1px 1px 1px 1px;
    color: brown;
    border-color: black;
    margin: 10px 10px 10px 10px;
    
}

h1 {
    margin: 10px 10px 10px 10px;
}

h2 {
    margin: 10px 10px 10px 10px;
}

p {
    margin: 10px 10px 10px 10px;
    
}


.listaNav li {
    display: inline;
    margin-right: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

.logoWhatsapp {
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 5px 5px 5px 5px;
}

.contactForm {
    margin: 10px 10px 10px 10px;
    width: 200px
}

.contactForm input {
    width: 400px;

}

.contactForm textarea {
    width: 400px;
}

.historyPhoto {
    width: 450px;

}

.navMap{
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 8%;
    height: 150px;
    width: 320px;
}

.mapLocation {
    margin: 10px 10px 10px 10px;
    border-radius: 1%;
}

.tituloNav {
    gap: 10px;
    font-size: 40px;
    font-weight: 500;
}